
documentation/IHM/~$M_Lot_1_2023_05.docx

documentation/architecture/~$PatchServices_2305.pptx

CSqlManager/CSqlManager/bin/

CSqlManager/CSqlManager/obj/

CSqlManager/CSqlManager/publish/

backtest/

CSqlManager/CSqlManager/.idea/

CSqlManager/CSqlManager/secret.properties

CSqlManager/CSqlManager/publish.zip
