<section class='patch-container-sidebar'>
    <div class="patch-container-large patch-no-scroll-container">
        <div class="row">
            <div class="col-6">
                <div class="patch-form-title"><span class="patch-form-title-number">1</span>&nbsp;{{'REQUEST_PATCH.TITLE.UPLOAD_FILE' | translate}}</div>
            </div>
            <div class="col-6">
                <div class="patch-form-title"><span class="patch-form-title-number">1</span>&nbsp;{{'REQUEST_PATCH.TITLE.SELECT_DEVICE' | translate}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="patch-form-title"><span class="patch-form-title-number">1</span>&nbsp;{{'REQUEST_PATCH.TITLE.PATCH_SELECTION' | translate}}</div>
            </div>
        </div>
    </div>
</section>