.patch {
    color: var(--text-color);
    background-color: var(--surface-ground);
    overflow-y: hidden;
    overflow-x: hidden;
}
.patch-container-sidebar
{
    line-height: 1;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 640px;
}

.patch-container-large {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    max-width: 2500px;
    height: 98vh;
    width: 100%;
    min-width: 1180px;
    min-height: 640px;
}


.patch-container-full {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.patch-no-scroll-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.patch-form-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0px;
    margin-bottom: 5px;
}
.patch-form-title-desc {
    padding-top: 15px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0px;
}

.patch-form-title-number {
    background: #a5b4fc;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin-left: 3px;
}
.patch-card-area {
    margin: 1rem;
}

.patch-card {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
}


.patch-im-bg{
    background-repeat: no-repeat;
    background-size: contain;
}

.request-patch-dialog {
    width: calc(min(75vw, 95rem));
    min-width: 800px;
}

.patch .p-dialog .p-dialog-content {
    background-color: var(--surface-ground);
}
.patch-dialog-flow {
    display: flex;
}

.patch-dialog-box {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: var(--surface-card);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
}

.patch-dialog-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start
}
.ui-button-ps-hor {
    margin-left: 1rem !important;
}
.ui-button-ps {
    font-size: 1rem;
}
.patch-align-right {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-right: 5px;
}
