.patch {
    color: var(--text-color);
    background-color: var(--surface-ground);
    overflow-y: hidden;
    overflow-x: hidden;
}
.patch-container-sidebar
{
    line-height: 1;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 640px;
}

.patch-container-large {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    max-width: 2500px;
    height: calc(100vh - 2rem);
    width: 100%;
    min-width: 1180px;
    min-height: 640px;
}


.patch-container-full {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.patch-no-scroll-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.patch-form-title-main {
    text-align: center;request-patch-button-bar {
    position: absolute;
    right: 150px;
    bottom: 20px;
  }

    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0px;
    margin-bottom: 2rem;
}

.patch-form-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0px;
    margin-bottom: 5px;
}
.patch-form-title-desc {
    padding-top: 15px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0px;
}

.patch-form-title-number {
    background: #a5b4fc;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin-left: 3px;
}
.patch-card-area {
    margin: 1rem;
}

.patch-card-form-top-small {
    margin-top: 2rem;
}
.patch-card-form-top {
    margin-top: 3rem;
}

.patch-card {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
}


.patch-im-bg{
    background-repeat: no-repeat;
    background-size: contain;
}

.request-patch-dialog {
    width: calc(min(75vw, 95rem));
    min-width: 800px;
}

.patch .p-dialog .p-dialog-content {
    background-color: var(--surface-ground);
}
.patch-dialog-flow {
    display: flex;
}

.patch-dialog-box {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: var(--surface-card);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 10px;
}

.patch-dialog-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start
}
.ui-button-ps-hor {
    margin-left: 1rem !important;
}
.ui-button-ps {
    font-size: 1rem;
}
.patch-align-right {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-right: 5px;
}
.patch .prime-table, .ui-dropdown-label, .ui-dropdown-item{
    font-size: 0.9em !important;
    padding: 0.15em;
}
.patch-form-group {
    font-family: 'Segoe UI', 'Source Sans Pro', sans-serif;
    margin-bottom: .2rem;
}
.patch-col-form-label {
    padding-top: calc(.1rem + 1px) !important;
    padding-bottom: calc(.1rem + 1px) !important;
    line-height: 1.0;
    font-size: 0.95rem;
    font-weight: bold;
}
.patch-col-form-label-light {
  padding-top: calc(.1rem + 1px) !important;
  padding-bottom: calc(.1rem + 1px) !important;
  line-height: 2.0;
  font-size: 0.85rem;
  vertical-align: top;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.patch-form-buttonbar {
    margin-top: 2rem;
    text-align: center;
    align-items: center;
}

.patch-form-radiobuttonbar{
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    text-align: start;
}
.patch-form-radiobutton {
    padding-right: 1rem;
    display: flex;
}

.ps-control-witdh{
    width: 100%;
}
.ps-download-file {
    color:  var(--bluegray-400);
    font-size: 1.3rem;
    cursor: pointer;
}

.ps-download-info {
    color:  var(--yellow-100);
    font-size: 1.3rem;
    cursor: pointer;
    padding-left: 1rem;
}
.ps-download-patch {
    color:  var(--yellow-100);
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 1rem;
}
.ps-download-patch-failed {
    color:  var(--red-100);
    font-size: 1.3rem;
    margin-right: 1rem;
}

.ticket-view-field{
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: right;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    padding-right: 1rem;
 }
 
 .ticket-view-value{
     font-size: 1rem;
     display: flex;
     flex-wrap: nowrap;
     white-space: nowrap;
     align-items: center;
     justify-content: left;
     flex-grow: 0;
     flex-shrink: 0;
     align-self: flex-start;
     flex-basis: 60%;
  }
  
 .ticket-blank{
     flex-grow: 1;
     flex-shrink: 1;
     align-self: flex-start;
     flex-basis: 90%;
  }
 
  .ticket-view-fullsize {
     width: 99%;
  }
  .ticket-view-btnbar {
     margin-top: 1rem;
     padding-bottom: 10px;
  }