.patch {
    color: var(--text-color);
    background-color: var(--surface-ground);
    overflow-y: hidden;
    overflow-x: hidden;
}
.patch-container-sidebar
{
    line-height: 1;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 640px;
}

.patch-container-large {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    max-width: 2500px;
    height: 98vh;
    width: 100%;
    min-width: 1180px;
    min-height: 640px;
}


.patch-container-full {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.patch-no-scroll-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.patch-form-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0px;
    margin-bottom: 5px;
}
.patch-form-title-desc {
    padding-top: 15px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0px;
}

.patch-form-title-number {
    background: #a5b4fc;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    margin-left: 3px;
}
.patch-card-area {
    margin: 1rem;
}

.patch-card {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 10px;
}


.patch-im-bg{
    background-repeat: no-repeat;
    background-size: contain;
}