<section class='patch-container-sidebar'>
    <app-sidebar [title]="'USER_LIST.TITLE'"></app-sidebar>
    <div class="patch-container-large patch-no-scroll-container patch-im-bg" style="background-image: url('assets/images/bg-2.png')">
        <form #parameterForm="ngForm">
            <p-table #userTable [value]="userList" [paginator]="true" [rows]="25" [resizableColumns]="true" tableStyleClass="prime-table" [scrollable]="true" scrollHeight="calc(100vh - 220px)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'tenant'" pResizableColumn>{{'USER.FLD.TENANT'| translate}}<p-sortIcon [field]="'fileName'"></p-sortIcon></th>
                            <th [pSortableColumn]="'login'" pResizableColumn>{{'USER.FLD.LOGIN' | translate}}<p-sortIcon [field]="'reportId'"></p-sortIcon></th>
                            <th [pSortableColumn]="'firstname'" pResizableColumn>{{'USER.FLD.FIRSTNAME' | translate}}<p-sortIcon [field]="'firstName'"></p-sortIcon></th>
                            <th [pSortableColumn]="'name'" pResizableColumn>{{'USER.FLD.NAME'| translate}}<p-sortIcon [field]="'documentType'"></p-sortIcon></th>
                            <th [pSortableColumn]="'email'" pResizableColumn>{{'USER.FLD.EMAIL'| translate}}<p-sortIcon [field]="'suspicionLevel'"></p-sortIcon></th>
                            <th>{{'USER.FLD.ACTIVE'| translate}}</th>
                            <th>#</th>
                        </tr>
                        <tr>
                            <th><input pInputText type="text" (input)="userTable.filter($event.target, 'tenant', 'contains')"></th>
                            <th><input pInputText type="text" (input)="userTable.filter($event.target, 'login', 'contains')"></th>
                            <th><input pInputText type="text" (input)="userTable.filter($event.target, 'firstname', 'contains')"></th>
                            <th><input pInputText type="text" (input)="userTable.filter($event.target, 'name', 'contains')"></th>
                            <th><input pInputText type="text" (input)="userTable.filter($event.target, 'email', 'contains')"></th>
                            <th><p-triStateCheckbox (onChange)="userTable.filter($event.value, 'active', 'equals')"></p-triStateCheckbox></th>
                            <th></th>
                        </tr>     
                    </ng-template>
                    <ng-template pTemplate="body" let-u>
                        <tr>
                            <td>{{u.tenant.name}}</td>
                            <td>{{u.login}}</td>
                            <td>{{u.firstname}}</td>
                            <td>{{u.lastname}}</td>
                            <td>{{u.email}}</td>
                            <td><em [hidden]="!u.getActive()" (click)="activate(u.id, false)" id="emUnactivateUser" class="fa-solid fa-check" style='cursor: pointer' title="{{'BTN.UNACTIVATE' | translate}}"></em>
                                <em [hidden]="u.getActive()" (click)="activate(u.id, true)" id="emActivateUser" class="fa-solid fa-times" style='cursor: pointer;color:red' title="{{'BTN.ACTIVATE' | translate}}"></em>
                            </td>
                            <td>
                                <em (click)="set(u.id)" id="emSetUser" class="fa-solid fa-pen-to-square" style="cursor: pointer;" title="{{'BTN.SET' | translate}}"></em>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                <em (click)="setPassword(u.id)" id="emSetPasswordUser" class="fa-solid fa-lock" style="cursor: pointer;" title="{{'BTN.SET_PASSWORD' | translate}}"></em>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                <em id="emDeleteUser" class="fa-solid fa-trash-alt" style="cursor: pointer;" title="{{'BTN.DELETE' | translate}}"></em>
                            </td>
                        </tr>
                    </ng-template>
             </p-table>
        </form>

        <div class="patch-form-buttonbar">
            <button pButton type="button" id="btnCreateUser" class="ui-button-ps-hor p-button-rounded p-button-outlined"  routerLink="/edit_user" label="{{'BTN.CREATE_USER' | translate}}"></button>
            <button pButton type="button" id="btnTenants" class="ui-button-ps-hor p-button-rounded p-button-outlined"  routerLink="/tenant_list" label="{{'BTN.TENANT_LIST' | translate}}"></button>
        </div>
    </div>
</section>
